@CHARSET "ISO-8859-1";

.Typecontainer{
	width:300px;
	
	background: #FFF;
	opacity: 0.95;
	padding: 1px 1px;
}

.Typecontainer input{
	padding: 1px;
	font-size: 22px;

	border-radius: 10px;
	border: 1px solid #c0c0c0;
	outline: none;
}
